.nav {
  display: block;
  height: 40px;
  width: 100%;
  background: url(../images/burger_icon.png) no-repeat 98% center;
  background-color: #ffffff;
  cursor: pointer;
}

.sidebar nav ul {
  overflow: hidden;
  /* background: #d14141; */
  height: 0;
}

.sidebar nav ul.open {
  height: auto;
}

.sidebar nav ul li {
  float: none;
  text-align: left;
  width: 100%;
  margin: 0;
}

.sidebar nav ul li a {
  color: black;
  padding: 10px;
  /* border-bottom: 1px solid gray; */
  display: block;
  margin: 0;
}