body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.leftside {
  margin: 0;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-row: 100%;
  background-image: url(../images/agnes_bw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 400px;
  position: fixed;
  z-index: 0;

}

.rightside {
  margin-top: 20px;
  margin-left: 400px;
  text-align: center;
  display: grid;
  overflow: auto;
  grid-template-areas:
    "name"
    "projects"
    "about"
    "knowledge"
    "contact"
    "footer";
}

.name {
  grid-area: name;
}

.projects {
  grid-area: projects;
}

.project__cards {
  margin: auto;
    width: 70%;
}
.project__cards {
 
}

.about {
  margin: 15px;
  grid-area: about;
  height: auto;
  text-align: justify;
  text-align-last: center;
}

.contact {
  grid-area: contact;
  height: auto;
  padding-bottom: 10px;
}

.contact img {
  height: 30px;
  width: auto;
}

.footer {
  grid-area: footer;
  height: 100px;
  padding-bottom: 10px;
}

.footer img {
  height: 30px;
  width: auto;
}

.footer a {
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
  .leftside {
  display: none;
  }
}