body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.leftside {
  margin: 0;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-row: 100%;
  background-image: url(../images/kjulli.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 400px;
  position: fixed;
  z-index: 0;
}

.rightside {
  margin-left: 400px;
  display: grid;
  overflow: auto;
  grid-template-areas:
    "name"
    "projects"
    "about"
    "knowledge"
    "contact"
    "footer";
}

.name {
  grid-area: name;
  /* height: 100px; */
  /* padding: 128px 16px; */
  /* padding-bottom: 10px */
}

.projects {
  grid-area: projects;
}

.project__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "one one two"
    "one one two"
    "three three two"
    "three three four"
    "five five four"
    "five five four";
}

.project__card {}

#card1 {
  grid-area: one;
}

#card2 {
  grid-area: two;
}

#card3 {
  grid-area: three;
}

#card4 {
  grid-area: four;
}

#card5 {
  grid-area: five;
}

#card6 {
  grid-area: six;
}

.project__card__image {

}

.about {
  grid-area: about;
  height: auto;
  text-align: left;
}

.knowledge {
  height: 100px;
}

.contact {
  grid-area: contact;
  height: auto;
  padding-bottom: 10px;
}

.contact img {
  height: 30px;
  width: auto;
}

.footer {
  grid-area: footer;
  height: 100px;
  padding-bottom: 10px;
}

.footer img {
  height: 30px;
  width: auto;
}

.footer a {
  text-decoration: none;
}
