
.grid-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  
   
}

.leftside {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-row: 100%;
  background-image: url(../images/mynd.jpg);
  height: auto;
}

.rightside {
  grid-template-areas:
    "Name"
    "Projects"
    "About"
    "Knowledge"
    "Contact"
    "Footer";
}

.name {
  height: 100px;
  padding: 128px 16px;
  font-family: 'Poppins', sans-serif;
  

}

.projects {
  height: auto;
  
}

.projects__cards {
  display: grid;
  grid-template-columns: auto;
}

.project__card img {
  height: 100px;
  width: auto;
}

.about {
  height: 100px;
}

.knowledge {
  height: 100px;
}

.container{
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  width: 350px;
  background-color: #F2F2F2;
  margin: 50px;
  margin-left: 60px;

}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  padding: 12px 20px;
  border: 1px;
  border-radius: 4px;
  background-color: #778899;

}

.footer {
 grid-area: footer;
 height: 100px
 }

 .footer img {
  height: 30px;
  width: auto;
  
}