<h1>Contact Me</h1>
<div class="contact">
  <h3>Send me an email</h3>
  <a href="mailto:agneskonradsdottir@gmail.com"><img src="images/envelope.jpg"></a>
  <h3>Follow me on</h3>
  <a href="https://www.linkedin.com/in/agneskonradsdottir/"><img src="images/linkedin.png"></a>
  <a href="https://github.com/koggs"><img src="images/github.svg"></a>

</div>
