<h1>My Projects</h1>

<div class="project__cards">
	<% data.projects.each_with_index do |project, index| %>
    <div class="project__card" id="card<%= index + 1 %>">
      <div class="project__card__image" style="background-image: url(<%= project[:image] %>)">
      </div>
    </div>
  <% end %>
	


</div>