<h1>My Projects</h1>

<div class="project__cards">
	<% data.projects.each do |project| %>
    <div class="project__card">
      <img src="<%= project[:image] %>">
      <div class="project__card__image" style="background-image: url()">
      </div>
    </div>
  <% end %>
	


</div>