
 <div id="menu" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
    <a href="#projects">Projects</a>
    <a href="#">About</a>
    <a href="#">Skills</a>
    <a href="#">Contact</a>
    <a href="#">Footer</a>
  </div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">hhhhh</span>

