<%# <head>
  <title>Logo</title>
  <link href="style.css" type="text/css" rel="stylesheet">
</head> %>


  <div class="sidebar">
    <%# <h1 class="logo">Logo</h1> %>
    <nav>
      <a class="nav"></a>
      <ul class="nav__items">
        <li class="nav__item">
          <a href="#projects">Projects</a></li>
        <li class="nav__item">
          <a href="#about">About</a></li>
        <li class="nav__item">
          <a href="#skills">Skills</a></li>
        <li class="nav__item">
          <a href="#contact">Contact</a></li>
        <li class="nav__item">
          <a href="#footer">Footer</a></li>
      </ul>
    </nav>
  </div>


<%# <span style="font-size:30px;cursor:pointer" onclick="openNav()">hhhhh</span> %>

