---
title: Agnes Konradsdottir
---

<!DOCTYPE html>
<html>


<body>
  <div class="grid-container">
    <div class="leftside"></div>
    <div class="rightside"></div>
        <div class="name">
          <h1>Agnes Konradsdottir</h1>
          <p>junior web developer</p>
         
        </div>
        <div class="projects">My Projects</div>
        <div class="about">About Me</div>
        <div class="skills">My Skills</div>
        <div class="contact">Contact Me</div>
        <div class="footer">Footer
         

        </div>
    </div>
    


  </div>  
</body>

</html>
