---
title: Agnes Konradsdottir
---

<!DOCTYPE html>
<html>


<body>
  <div class="grid-container">
    <div class="leftside">Picture</div>
    <div class="rightside">Content</div>
        <div class="rightname">Name</div>
        <div class="rightprojects">Projects</div>
        <div class="rightabout">About</div>
        <div class="rightknowledge">Knowledge</div>
        <div class="rightcontact">Contact</div>
        <div class="rightfooter">Footer</div>
    </div>
    


  </div>  
</body>

</html>
